<div class="row templates">
    <div class="col-md-4">
        <h3>Coffee 1</h3>
        <img src="img/bones.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Coffee 2</h3>
        <img src="img/caffevita.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Coffee 3</h3>
        <img src="img/donfrancisco.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Coffee 4</h3>
        <img src="img/lair.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Coffee 5</h3>
        <img src="img/sumatra.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Coffee 6</h3>
        <img src="img/theoriginal.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
</div>