<div class="row templates">
    <div class="col-md-4">
        <h3>Bones</h3>
        <img src="img/bones.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Caffe Vita</h3>
        <img src="img/caffevita.jpg">
        <h4>$10.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Don Francisco</h3>
        <img src="img/donfrancisco.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Lair</h3>
        <img src="img/lair.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>Sumatra/h3>
        <img src="img/sumatra.jpg">
        <h4>$15.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    <div class="col-md-4">
        <h3>The Original</h3>
        <img src="img/theoriginal.jpg">
        <h4>$13.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
</div>